@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

form {
    width: 200px;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(18, 18, 22);
    color: #FFF;
}

/* 
body{
    background-color: #000;
}
 */
.poke-card {
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 400px;
    border-radius: 25px;
    color: #000;
    text-align: center;
    padding: 5px;
    margin: 0 auto;


}

.pokedex{
    font-weight: 600;
    font-size: 20px;
    color: rgb(82, 82, 82);
}

.poke-card::before {
    content: '';
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}

.img-container {
    position: relative;
    width: 250px;
    margin: 5px auto;
}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}

.poke-types div {
    color: #FFF;
    width: 100px;
    height: 28px;
    border-radius: 30px;
    font-weight: 600;
    padding: 5px;
    margin: 20px;


}

.container-nameId{
    background-color: #FFF;
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    -webkit-box-shadow: 5px 6px 4px 0px rgba(224,224,224,0.27);
    -moz-box-shadow: 5px 6px 4px 0px rgba(224,224,224,0.27);
    box-shadow: 5px 6px 4px 0px rgba(224,224,224,0.27);
    font-family: 'Poppins', sans-serif;




}


.poke-img {
    width: 180px;
    border-radius: 50%;
    background-color: #FFF;
}

.data-container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px 0;;
}

.poke-id{
    font-weight: 900;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.poke-weight{
    color: #FFF;
    font-weight: 600;
}

.poke-height{
    color: #FFF;
    font-weight: 600;
}

.poke-weight, .poke-height{
    color: rgb(146, 146, 146);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 15px;
    border-radius: 20px;
} 


.poke-stats{
    justify-content: center;
    align-items: center;
    width: 475;
    background-color: #FFF;
    border-radius: 0 0 20px 20px;
    font-weight: 900;
}
/* 
.container-info{
    -webkit-box-shadow: 1px 7px 5px -1px rgba(224,224,224,0.63);
    -moz-box-shadow: 1px 7px 5px -1px rgba(224,224,224,0.63);
    box-shadow: 1px 7px 5px -1px rgba(224,224,224,0.63);


}

 */

